/* Based on HTML5 Boilerplate - h5bp.com & Wirefy - getwirefy.com */

/*
    $_Basic_styles
    $_Fluid_media
    $_Grid
    $_Typography
    $_Links
    $_Lists
    $_Images
    $_Figures
    $_Slideshow
    $_Videos_and_other_media
    $_Breadcrumb
    $_Pagination
    $_Pager
    $_Tables
    $_Buttons
    $_Forms
    $_Gallery
    $_Misc
    $_Media_queries
    $_IE_fixes
    $_Helper_classes
    $_Print_styles
*/

/* $_Basic_styles
================================================== */
html {
    background: #FFF;
    font-size: 16px;
    font-size: 62.5%; /* IE7-8 Font Sizing */
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: #f3f5f6;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    background-color: transparent;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1em;
    font-size: 1.6rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; /* Fix for webkit rendering */
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:first-child + html .row,
*:first-child + html .cf {
    zoom: 1;
}
*:after,
*:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* IE10 Touch Browsing Default */
canvas {
    -ms-touch-action: double-tap-zoom;
}


/* $_Fluid_media
================================================== */
figure {
    position: relative;
}
figure img,
figure object,
figure embed,
figure video {
    display: block;
    max-width: 100%;
}
object,
embed,
video,
picture {
    display: block;
    height: auto;
    max-width: 100%;
}


/* $_Grid
================================================== */
.row,
.threeColumns {
    margin-bottom: 1.25em;
    width: 100%;
    zoom: 1;
}
.row:after,
.threeColumns:after {
    clear: both;
    content: "";
    display: table;
}
.row .column,
.row .columns,
.threeColumns .col {
    margin-bottom: 2%;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.thirteen,
.fourteen,
.fifteen,
.sixteen,
.third {
    width: 100%;
}
.column:first-child,
.columns:first-child,
.threeColumns .third:first-child {
    margin-left: 0;
}


/* $_Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #181818;
    font-family: "Georgia","Times New Roman",serif;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizelegibility;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}
h1 {
    font-size: 32px;
    font-size: 2em;
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 0.75em;
}
h2 {
    font-size: 24px;
    font-size: 1.5em;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 21px;
    font-size: 1.3125em;
    font-size: 2.1rem;
    line-height: 1.3;
    margin-bottom: 1em;
}
h4 {
    font-size: 18px;
    font-size: 1.125em;
    font-size: 1.8rem;
    line-height: 1.25;
    margin-bottom: 1.5em;
}
h5 {
    font-size: 16px;
    font-size: 1em;
    font-size: 1.6rem;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}
p,
ol,
ul,
dl,
address {
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
small {
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
}
q {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: '';
    content: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
cite {
    font-style: normal;
}
dl {
    margin: 0;
}
dl,
dd {
    margin-bottom: 1.5em;
}
dt {
    font-weight: bold;
}
.dl-horizontal dt {
    clear: left;
    float: left;
    text-align: right;
    width: 20.25%;
}
.dl-horizontal dd {
    margin-left: 22.78%;
}
abbr[title] {
    border-bottom: 1px dotted #c7ced6;
    cursor: help;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
ins {
    background-color: #f3f5f6;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #f3f5f6;
    color: #000;
    font-style: italic;
    font-weight: bold;
    padding: 0 0.25em;
}
pre,
code,
kbd,
samp {
    font-family: Monaco, Courier New, monospace;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    line-height: 1.5em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
sub {
    bottom: -0.25em;
    font-size: 12px;
    font-size: .75em;
    font-size: 1.2rem;
    line-height: 0;
    position: relative;
    vertical-align: baselineheight;
}
sup {
    font-size: 12px;
    font-size: .75em;
    font-size: 1.2rem;
    line-height: 0;
    position: relative;
    top: -0.5em;
    vertical-align: baselineheight;
}
p {
    hyphenate: auto;
    hyphenate-lines: 3;
    margin: 0 0 1.25em 0;
    word-spacing: 0.125em;
}
p img {
    margin: 0;
}
p.lead {
    color: #777;
    font-size: 21px;
    font-size: 1.3125em;
    font-size: 2.1rem;
    line-height: 1.6875em;
}
p + p.no-indent {
    text-indent: 0;
}
em {
    font-style: italic;
}
small {
    font-size: 80%;
}
del {
    text-decoration: line-through;
}
.textRight {
    text-align: right;
}
.textCenter {
    text-align: center;
}

/* Blockquotes */
blockquote {
    border-left: 1px solid #DDD;
    color: #777;
    font-size: 17px;
    font-size: 1.0625em;
    font-size: 1.7rem;
    font-style: italic;
    line-height: 1.5em;
    margin: 0 0 1.25em;
    padding: 0.5625em 1.25em 0 1.1875em;
}
blockquote p {
    color: #777;
    font-size: 17px;
    font-size: 1.0625em;
    font-size: 1.7rem;
    font-style: italic;
    line-height: 1.5em;
}
blockquote cite {
    color: #555;
    display: block;
    font-size: 12px;
    font-size: .75em;
    font-size: 1.2rem;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a {
    color: #555;
}
blockquote cite a:visited {
    color: #555;
}
hr {
    border: solid #DDD;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 0.625em 0 1.875em;
}


/* $_Links
================================================== */
a {
    color: #333;
    outline: 0;
    text-decoration: underline;
}
a:visited {
    color: #333;
    outline: 0;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #000;
}
p a {
    line-height: inherit;
}
p a:visited {
    line-height: inherit;
}


/* $_Lists
================================================== */
ul,
ol {
    margin: 0;
    margin-bottom: 1.25em;
    padding: 0;
}
ol {
    list-style: decimal;
    margin-left: 1.875em;
}
ul.square,
ul.circle,
ul.disc {
    margin-left: 1.875em;
}
ul.square {
    list-style: square outside;
}
ul.circle {
    list-style: circle outside;
}
ul.disc {
    list-style: disc outside;
}
ul ul,
ul ol {
    font-size: 90%;
    margin: 0.25em 0 0.3125em 1.875em;
}
ol ol,
ol ul {
    font-size: 90%;
    margin: 0.25em 0 0.3125em 1.875em;
}
ul ul li,
ul ol li {
    margin-bottom: .375em;
}
ol ol li,
ol ul li {
    margin-bottom: .375em;
}
li {
    line-height: 1.125em;
    margin-bottom: .75em;
}
ul.large li,
li p {
    line-height: 1.3125em;
}
.list-bordered {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}
.list-bordered li {
    border-bottom: 1px dashed #c7ced6;
    margin-bottom: 0.375em;
    padding-bottom: 0.375em;
}
.list-bordered li:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* $_Images
================================================== */
img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
.img-rounded {
    border-radius: 4px;
}
.img-circle {
    border-radius: 500px;
}
.img-polaroid {
    background-color: white;
    border: 1px solid #c6bfbf;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 12px;
}


/* $_Figures
================================================== */
figure {
    margin-bottom: 1.5em;
}
figure img {
    margin-bottom: 0.375em;
}
figure figcaption {
    color: #808080;
    display: block;
    font-style: italic;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    font-weight: normal;
}


/* $_Slideshow
================================================== */
.rslides {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.rslides li {
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}
.rslides img {
    border: 0;
    display: block;
    float: left;
    height: auto;
    width: 100%;
}
.rslides_container {
    float: left;
    margin-bottom: 1.125em;
    position: relative;
    width: 100%;
}
.rslides_container .slides {
    margin: 0;
}
.centered-btns_nav {
    background: transparent url('assets/imgs/themes.gif') no-repeat left top;
    height: 3.8125em;
    left: 0;
    margin-top: -3.4em;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    text-decoration: none;
    top: 50%;
    width: 2.375em;
    z-index: 3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.centered-btns_nav:active {
    opacity: 1.0;
}
.centered-btns_nav.next {
    background-position: right top;
    left: auto;
    right: 0;
}
.transparent-btns_nav {
    background: #FFF;
    display: block;
    filter: alpha(opacity=1);
    height: 91%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 48%;
    z-index: 3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.transparent-btns_nav.next {
    left: auto;
    right: 0;
}
.large-btns_nav {
    background: black url('assets/imgs/themes.gif') no-repeat left 50%;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 2.375em;
    z-index: 3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.large-btns_nav:active {
    opacity: 1.0;
}
.large-btns_nav.next {
    background-position: right 50%;
    left: auto;
    right: 0;
}
.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
    outline: none;
}
.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
    margin-top: .625em;
    padding: 0;
    text-align: center;
}
.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
    display: inline;
    float: none;
    margin-right: .3125em;
}
.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
    background: #ccc;
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: .9375em;
       -moz-border-radius: .9375em;
            border-radius: .9375em;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
       -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: .5625em;
    overflow: hidden;
    text-indent: -9999px;
    width: .5625em;
}
.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
    background: #222;
    background: rgba(0, 0, 0, 0.8);
}
.large-btns3_on {
    margin-bottom: 0;
}


/* $_Videos_and_other_media
================================================== */
video {
    width: 100%;
}
.vendor {
    background: #d1eed1;
    margin-bottom: 2em;
    padding: 2%;
}
.unsupported {
    background: #fddfde;
}


/* $_Breadcrumb
================================================== */
.breadcrumb {
    margin: 0 0 1.125em;
    list-style: none;
    padding: 0.4375em 0.875em;
}
.breadcrumb li {
    display: inline-block;
}
.breadcrumb .divider {
    color: #999;
    padding: 0 5px;
}


/* $_Pagination
================================================== */
.pagination {}
.pagination ul {
    -webkit-border-radius: .1875em;
       -moz-border-radius: .1875em;
            border-radius: .1875em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}
.pagination li {
    display: inline;
}
.pagination a {
    border: 1px solid #DDD;
    border-left-width: 0;
    color: #333;
    float: left;
    line-height: 1.75em;
    padding: 0 0.625em;
    text-decoration: none;
    outline: 0 none;
}
.pagination a:hover {
    background-color: #f5f5f5;
}
.pagination .active a {
    background-color: #f5f5f5;
    color: #999;
    cursor: default;
}
.pagination .disabled span {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.pagination .disabled a {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.pagination .disabled a:hover {
    background-color: transparent;
    color: #999;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 0.1875em 0 0 0.1875em;
       -moz-border-radius: 0.1875em 0 0 0.1875em;
            border-radius: 0.1875em 0 0 0.1875em;
}
.pagination li:last-child a {
    -webkit-border-radius: 0 0.1875em 0.1875em 0;
       -moz-border-radius: 0 0.1875em 0.1875em 0;
            border-radius: 0 0.1875em 0.1875em 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}


/* $_Pager
================================================== */
.pager {
    list-style: none;
    margin-bottom: 1.125em;
    margin-left: 0;
    text-align: center;
    padding: 0;
}
.pager:before {
    content: "";
    display: table;
}
.pager:after {
    clear: both;
    content: "";
    display: table;
}
.pager li {
    display: inline;
}
.pager a {
    background-color: #FFF;
    border: 1px solid #DDD;
    -webkit-border-radius: .9375em;
       -moz-border-radius: .9375em;
            border-radius: .9375em;
    display: inline-block;
    text-decoration: none;
    padding: 5px 14px;
}
.pager a:hover {
    background-color: #f5f5f5;
}
.pager .next a {
    float: right;
}
.pager .previous a {
    float: left;
}
.pager .disabled a {
    background-color: #FFF;
    color: #999;
    cursor: default;
}
.pager .disabled a:hover {
    background-color: #FFF;
    color: #999;
    cursor: default;
}


/* $_Tables
================================================== */
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    max-width: 100%;
    width: 100%;
}
table th,
table td {
    border-top: 1px solid #8c9bab;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5em;
    padding: .5em;
    text-align: left;
    vertical-align: top;
}
table th {
    font-weight: bold;
}
table thead th {
    vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td {
    border-top: 0;
}
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}
table tbody + tbody {
    border-top: 2px solid #8c9bab;
}
table tbody tr td,
table tbody tr th {
    -webkit-transition: background-color 0.25s 0 linear;
       -moz-transition: background-color 0.25s 0 linear;
        -ms-transition: background-color 0.25s 0 linear;
         -o-transition: background-color 0.25s 0 linear;
    transition: background-color 0.25s 0 linear;
}
table tbody tr:hover td,
table tbody tr:hover th {
    background-color: #a9b4c1;
}
.table-condensed th,
.table-condensed td {
    padding: 0.25em 0.3125em;
}
.table-bordered {
    border: 1px solid #8c9bab;
    border-collapse: separate;
    border-left: 0;
}
.table-bordered th,
.table-bordered td {
    border-left: 1px solid #8c9bab;
}
.table-bordered thead:first-child tr:first-child th {
    border-top: 0;
}
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: #c7ced6;
}


/* $_Tabs
================================================== */
ul.tabs {
    border-bottom: solid 1px #DDD;
    display: block;
    margin: 0 0 1.25em 0;
    padding: 0;
}
ul.tabs li {
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    float: left;
    margin-bottom: 0;
}
ul.tabs li a {
    background: #f5f5f5;
    border: solid 1px #DDD;
    border-width: 1px 1px 0 0;
    display: block;
    font-size: 13px;
    font-size: .8125em;
    font-size: 1.3rem;
    height: 1.8125em;
    line-height: 1.815em;
    margin: 0;
    padding: 0 1.25em;
    text-decoration: none;
    width: auto;
}
ul.tabs li a.active {
    background: #FFF;
    color: #111;
    border-left-width: 1px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    /*height: 1.8125em;*/
    height: 2.125em;
    /*margin: 0 0 0 -1px;*/
    margin: 0 0 -4px -1px;
    padding-top: 4px;
    position: relative;
    top: -4px;
}
 ul.tabs li:first-child a {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    border-width: 1px 1px 0 1px;
}
ul.tabs li:first-child a.active {
    margin-left: 0;
}
ul.tabs li:last-child a {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
ul.tabs-content {
    display: block;
    margin: 0;
}
ul.tabs-content > li {
    display: none;
}
ul.tabs-content > li.active {
    display: block;
}
ul.tabs {
    zoom: 1;
}
ul.tabs:before {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
ul.tabs:after {
    clear: both;
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}


/* $_Buttons
================================================== */
input,
select,
button {
    cursor: pointer;
}
.button {
    background: #EEE; /* Old browsers */
    background: #EEE -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* FF3.6+ */
    background: #EEE -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); /* Chrome,Safari4+ */
    background: #EEE -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #EEE -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Opera11.10+ */
    background: #EEE -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* IE10+ */
    background: #EEE linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* W3C */
    border: 1px solid #AAA;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    -webkit-border-radius: .1875em;
       -moz-border-radius: .1875em;
            border-radius: .1875em;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-size: .6875em;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1.25em;
    padding: 0.5em 0.625em;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
}
button {
    background: #EEE; /* Old browsers */
    background: #EEE -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* FF3.6+ */
    background: #EEE -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); /* Chrome,Safari4+ */
    background: #EEE -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #EEE -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Opera11.10+ */
    background: #EEE -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* IE10+ */
    background: #EEE linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* W3C */
    border: 1px solid #AAA;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    -webkit-border-radius: .1875em;
       -moz-border-radius: .1875em;
            border-radius: .1875em;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-size: .6875em;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1.25em;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    padding: 0.5em 0.625em;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background: #EEE; /* Old browsers */
    background: #EEE -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* FF3.6+ */
    background: #EEE -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); /* Chrome,Safari4+ */
    background: #EEE -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #EEE -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* Opera11.10+ */
    background: #EEE -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* IE10+ */
    background: #EEE linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); /* W3C */
    border: 1px solid #AAA;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    -webkit-border-radius: .1875em;
       -moz-border-radius: .1875em;
            border-radius: .1875em;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-size: .6875em;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1.25em;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    padding: 0.5em 0.625em;
}
.button:hover,
button:hover {
    background: #DDD; /* Old browsers */
    background: #DDD -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* FF3.6+ */
    background: #DDD -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))); /* Chrome,Safari4+ */
    background: #DDD -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: #DDD -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* Opera11.10+ */
    background: #DDD -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* IE10+ */
    background: #DDD linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* W3C */
    border: 1px solid #888;
    border-left: 1px solid #AAA;
    border-top: 1px solid #AAA;
    color: #222;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background: #DDD; /* Old browsers */
    background: #DDD -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* FF3.6+ */
    background: #DDD -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))); /* Chrome,Safari4+ */
    background: #DDD -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: #DDD -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* Opera11.10+ */
    background: #DDD -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* IE10+ */
    background: #DDD linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); /* W3C */
    border: 1px solid #888;
    border-left: 1px solid #AAA;
    border-top: 1px solid #AAA;
    color: #222;
}
.button:active,
button:active {
    background: #CCC; /* Old browsers */
    background: #CCC -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* FF3.6+ */
    background: #CCC -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4))); /* Chrome,Safari4+ */
    background: #CCC -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: #CCC -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* Opera11.10+ */
    background: #CCC -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* IE10+ */
    background: #CCC linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* W3C */
    border: 1px solid #666;
}
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    background: #CCC; /* Old browsers */
    background: #CCC -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* FF3.6+ */
    background: #CCC -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4))); /* Chrome,Safari4+ */
    background: #CCC -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: #CCC -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* Opera11.10+ */
    background: #CCC -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* IE10+ */
    background: #CCC linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); /* W3C */
    border: 1px solid #666;
}
.button.full-width,
button.full-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    width: 100%;
}
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    width: 100%;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* $_Forms
================================================== */
form {
    margin: 0 0 1.25em;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
legend {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    display: block;
    font-size: 21px;
    font-size: 1.3125em;
    font-size: 2.1rem;
    line-height: 2.5em;
    margin-bottom: 1.25em;
    padding: 0;
    width: 100%;
}
legend small {
    color: #999;
    font-size: 15px;
    font-size: .9375em;
    font-size: 1.5rem;
}
label,
input,
button,
select,
textarea {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.2em;
}
label {
    display: block;
    margin-bottom: .3125em;
}
select,
textarea {
    -webkit-border-radius: .1875em;
       -moz-border-radius: .1875em;
            border-radius: .1875em;
    color: #555;
    display: inline-block;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    height: auto;
    line-height: 1.25em;
    margin-bottom: .5625em;
    padding: 0.5em 0.375em;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    -webkit-border-radius: .1875em;
       -moz-border-radius: .1875em;
            border-radius: .1875em;
    color: #555;
    display: inline-block;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    height: auto;
    line-height: 1.25em;
    margin-bottom: .5625em;
    /*padding: 0.5em 0.375em;*/
    padding: 0.5em 0.37em;
}
.uneditable-input {
    -webkit-border-radius: .1875em;
       -moz-border-radius: .1875em;
            border-radius: .1875em;
    color: #555;
    display: inline-block;
    height: auto;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    line-height: 1.25em;
    margin-bottom: .5625em;
    padding: 0.5em 0.375em;
}
input,
textarea,
.uneditable-input {
    width: auto;
}
textarea {
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: auto;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
    width: 100%;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
}
.uneditable-input {
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
 }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
}
.uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
}
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    line-height: normal;
    margin: 0.25em 0 0;
    margin-top: 1px \9;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
select,
input[type="file"] {
    line-height: 1.875em;
}
select {
    background-color: #FFF;
    border: 1px solid #CCC;
    width: 13.75em;
}
select[multiple],
select[size] {
    height: auto;
}
select:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
    background-color: #fcfcfc;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
       -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    color: #999;
    cursor: not-allowed;
}
.uneditable-input {
    overflow: hidden;
    white-space: nowrap;
}
.uneditable-textarea {
    height: auto;
    width: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}
.radio,
.checkbox {
    min-height: 1.125em;
    padding-left: 1.125em;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-left: -1.125em;
    margin-top: 2px;
    outline: none;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: .3125em;
}
.radio.inline,
.checkbox.inline {
    display: inline-block;
    margin-bottom: 0;
    padding-top: .3125em;
    vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: .625em;
}
.input-mini,
.input-small,
.input-medium,
.input-large,
.input-xlarge,
.input-xxlarge {
    width: 100%;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
}
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"] {
    display: inline-block;
}
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"] {
    display: inline-block;
}
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
    display: inline-block;
}
input, textarea,
.uneditable-input {
    margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
    margin-left: 1.25em;
}
.controls-row:before {
    content: "";
    display: table;
    line-height: 0;
}
.controls-row:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.controls-row [class*="span"] {
    float: left;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    background-color: #EEE;
    cursor: not-allowed;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline,
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
    background-color: #fcf8e3;
    border-color: #c09853;
    color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline,
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.ideal-field.invalid input,
.ideal-error {
    color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.ideal-field.invalid input {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus,
.ideal-field.invalid input:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline,
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
    background-color: #dff0d8;
    border-color: #468847;
    color: #468847;
}
.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline,
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    color: #3a87ad;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    border-color: #3a87ad;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
    border-color: #2d6987;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
    background-color: #d9edf7;
    border-color: #3a87ad;
    color: #3a87ad;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
    border-color: #ee5f5b;
    color: #b94a48;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
       -moz-box-shadow: 0 0 6px #f8b9b7;
            box-shadow: 0 0 6px #f8b9b7;
}
.form-actions {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    margin: 1.125em 0;
    padding: 1.1875em 1.25em 1.25em;
}
.form-actions:before {
    content: "";
    display: table;
    line-height: 0;
}
.form-actions:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.help-block,
.help-inline {
    color: #595959;
}
.help-block {
    display: block;
    margin-bottom: .625em;
}
.help-inline {
    display: inline-block;
    padding-left: .3125em;
    vertical-align: middle;
    line-height: 2.15em;
}
.input-append,
.input-prepend {
    font-size: 0;
    margin-bottom: .3125em;
    white-space: nowrap;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}
.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
    z-index: 2;
}
.input-append .add-on,
.input-prepend .add-on {
    background-color: #eee;
    border: 1px solid #CCC;
    display: inline-block;
    font-size: 14px;
    font-size: .875em;
    font-size: 1.4rem;
    font-weight: normal;
    height: auto;
    line-height: 1.25em;
    min-width: 1em;
    padding: 0.5em 0.3125em;
    text-align: center;
    text-shadow: 0 1px 0 white;
    width: auto;
}
.input-append .add-on,
.input-prepend .add-on {
    line-height: 1.20em;
}
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    vertical-align: middle;
}
.input-append .active {
    background-color: #a9dba9;
    border-color: #46a546;
}
.input-prepend .active {
    background-color: #a9dba9;
    border-color: #46a546;
}
.input-prepend .add-on,
.input-prepend .btn {
    margin-right: -0.0625em;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
}
.input-append .add-on,
.input-append .btn {
    margin-left: -0.0625em;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
    margin-right: -1px;
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
    margin-left: -0.0625em;
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
}
input.search-query {
    -webkit-border-radius: 1em;
       -moz-border-radius: 1em;
            border-radius: 1em;
    margin-bottom: 0;
    padding-right: .875em;
    padding-right: 0.25em \9;
    padding-left: .875em;
}

/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
.form-search .input-append .search-query {
    -webkit-border-radius: 0.875em 0 0 0.875em;
       -moz-border-radius: 0.875em 0 0 0.875em;
            border-radius: 0.875em 0 0 0.875em;
}
.form-search .input-append .btn {
    -webkit-border-radius: 0 0.875em 0.875em 0;
       -moz-border-radius: 0 0.875em 0.875em 0;
            border-radius: 0 0.875em 0.875em 0;
}
.form-search .input-prepend .search-query {
    -webkit-border-radius: 0 0.875em 0.875em 0;
       -moz-border-radius: 0 0.875em 0.875em 0;
            border-radius: 0 0.875em 0.875em 0;
}
.form-search .input-prepend .btn {
    -webkit-border-radius: 0.875em 0 0 0.875em;
       -moz-border-radius: 0.875em 0 0 0.875em;
            border-radius: 0.875em 0 0 0.875em;
    height: auto;
}
.form-search input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
    display: none;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
    display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
    margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}
.form-inline .radio,
.form-inline .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
    float: left;
    margin-right: .1875em;
    margin-left: 0;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: .1875em;
    margin-left: 0;
}
.form-inline.ideal-form .ideal-error {
    margin-left: 10px;
    line-height: 2.185em;
}
.control-group {
    margin-bottom: .625em;
}
legend + .control-group {
    margin-top: 1.25em;
    -webkit-margin-top-collapse: separate;
}
.form-horizontal {
    width: 90%;
}
.form-horizontal .control-group {
    margin-bottom: 1.25em;
}
.form-horizontal .control-group:before {
    content: "";
    display: table;
    line-height: 0;
}
.form-horizontal .control-group:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.form-horizontal .control-label {
    float: left;
    width: 49%;
    padding-top: 5px;
    padding-right: 24px;
    text-align: right;
}
.form-horizontal .controls {
    margin-left: 49%;
}
.form-horizontal .help-block {
    margin-bottom: 0;
}
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
    margin-top: .625em;
}
.form-horizontal .form-actions {
    padding-left: 11.25em;
}


/* $_Gallery
================================================ */
.gallery .one:nth-child(16n+1) {
    margin-left: 0;
}
.gallery .two:nth-child(8n+1) {
    margin-left: 0;
}
.gallery .three:nth-child(5n+1) {
    margin-left: 0;
}
.gallery .four:nth-child(4n+1) {
    margin-left: 0;
}
.gallery .five:nth-child(3n+1) {
    margin-left: 0;
}
.gallery .six:nth-child(2n+1),
.gallery .seven:nth-child(2n+1),
.gallery .eight:nth-child(2n+1) {
    margin-left: 0;
}
.gallery .nine:nth-child(n+1),
.gallery .ten:nth-child(n+1),
.gallery .eleven:nth-child(n+1),
.gallery .twelve:nth-child(n+1),
.gallery .thirteen:nth-child(n+1),
.gallery .fourteen:nth-child(n+1),
.gallery .fifteen:nth-child(n+1),
.gallery .sixteen:nth-child(n+1) {
    margin-left: 0;
}


/* $_Misc
================================================== */
.callout {
    background: #DDD;
    padding: 2%;
    width: 100%;
}
.link-list {
    width: 100%;
}
.link-list li {
    float: left;
    margin: 0 10% 0 0;
    width: auto;
}
.link-list li:last-child {
    margin: 0;
}
.large {
    font-size: 18px;
    font-size: 1.125em;
    font-size: 1.8rem;
    padding: 14px 24px;
    text-align: center;
}
.remove-bottom {
    margin-bottom: 0 !important;
}
.half-bottom {
    margin-bottom: 0.625em !important;
}
.add-bottom {
    margin-bottom: 1.25em !important;
}
.two-cols,
.thre-cols,
.four-cols,
.five-cols {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
}
.spaced-out {
    margin: 2% 0;
}


/* $_Media_queries
================================================== */
@media only screen and (min-width: 30em) {
    /* 480 =================================================== */ }
@media only screen and (min-width: 40em) {
    /* 640 =================================================== */
    .alignleft {
        float: left;
        margin: 0% 2% 2% 0;
    }
    .alignright {
        float: right;
        margin: 0% 0 2% 2%;
    }
    .column, .columns {
        float: left;
        margin-left: 2%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .threeColumns .col {
        float: left;
        margin-left: 1.545%;
        width: 32.29166666666667%;
    }
    .alt-spacing {
        margin-left: 4.5%;
    }
    .one {
        width: 4.375%;
    }
    .two {
        width: 10.75%;
    }
    .three {
        width: 17.125%;
    }
    .four {
        width: 23.5%;
    }
    .five {
        width: 29.875%;
    }
    .six {
        width: 36.25%;
    }
    .seven {
        width: 42.625%;
    }
    .eight {
        width: 49.0%;
    }
    .nine {
        width: 55.375%;
    }
    .ten {
        width: 61.75%;
    }
    .eleven {
        width: 68.125%;
    }
    .twelve {
        width: 74.5%;
    }
    .thirteen {
        width: 80.875%;
    }
    .fourteen {
        width: 87.25%;
    }
    .fifteen {
        width: 93.625%;
    }
    .sixteen {
        width: 100%;
    }
    .input-mini {
        width: 10%;
    }
    .input-small {
        width: 20%;
    }
    .input-medium {
        width: 40%;
    }
    .input-large {
        width: 60%;
    }
    .input-xlarge {
        width: 80%;
    }
    .input-xxlarge {
        width: 100%;
    }
}
@media only screen and (min-width: 45em) {
  /* 720 =================================================== */ }
@media only screen and (min-width: 55.5em) {
  /* 888 =================================================== */ }
@media only screen and (min-width: 61.5em) {
  /* 984 =================================================== */ }
@media only screen and (min-width: 75em) {
  /* 1200 =================================================== */ }
@media only screen and (min-width: 87em) {
  /* 1392 =================================================== */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */ }


/* $_Helper_classes
================================================== */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}
.ir:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}


/* $_Print_styles
================================================== */
@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}