<!DOCTYPE html>
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="cleartype" content="on">

		<title>Blog Template - Boilerplate</title>

		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">

		<link rel="stylesheet" href="../assets/css/base.css" media="screen">
		<link rel="stylesheet" href="../assets/css/main.css" media="screen">

		<script src="../assets/js/vendor/modernizr.js"></script>
		<!--[if (lt IE 9) & (!IEMobile)]>
		<script src="js/selectivizr-min.js"></script>
		<![endif]-->

		<link rel="shortcut icon" href="img/startup/favicon.ico">
	</head>
	<body>
		<div class="container cf">
		    <header role="banner" class="row">
			 	<div class="logo five columns">
			    	<h1><img src="http://placehold.it/250x100&text=[Introduction Logo]"></h1>
			 	</div>
			 	<div class="menu-button">Menu</div>
			 	<a href="#main" class="skip">Skip navigation</a>
			 	<nav role="navigation" id="nav" class="toggle ten columns">
			    	<ul>
				 		<li class="top-level"><a href="">Link 1</a></li>
				 		<li class="top-level"><a href="">Link 2</a></li>
				 		<li class="top-level"><a href="">Link 3</a></li>
				 		<li class="top-level"><a href="">Link 4</a></li>
				 		<li class="top-level"><a href="">Link 5</a></li>
			    	</ul>
				</nav>
		    </header>
	    	<main role="main" class="content cf">
	 	  		<section class="row">
					<section class="eleven columns" role="content">
			  			<article>
						    <hgroup>
								<h3><a href="#">Blog Post Title</a></h3>
						        <h6>Written by <a href="#">Johnny Appleseed</a> on November 12, 2012.</h6>
							</hgroup>
							<p>This is dummy text and is not meant to be read. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. Epsum factorial non deposit quid pro quo hic escorol. Marquee selectus non provisio incongruous feline nolo contendre Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.</p>

							<img src="http://placehold.it/300x200&text=[img]" class="alignright" />

							<p>This is dummy text and is not meant to be read. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. Epsum factorial non deposit quid pro quo hic escorol. Marquee selectus non provisio incongruous feline nolo contendre Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.</p>

							<p>This is dummy text and is not meant to be read. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. Epsum factorial non deposit quid pro quo hic escorol. Marquee selectus non provisio incongruous feline nolo contendre Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.</p>
						</article>
						<hr>
						<article>
						    <hgroup>
								<h3><a href="#">Blog Post Title</a></h3>
						        <h6>Written by <a href="#">Johnny Appleseed</a> on November 12, 2012.</h6>
							</hgroup>
								<p><img src="http://placehold.it/400x200&text=[img]" class="alignleft" />	This is dummy text and is not meant to be read. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. Epsum factorial non deposit quid pro quo hic escorol. Marquee selectus non provisio incongruous feline nolo contendre Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.</p>

								<p>This is dummy text and is not meant to be read. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. Epsum factorial non deposit quid pro quo hic escorol. Marquee selectus non provisio incongruous feline nolo contendre Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.</p>
						</article>
					</section>
					<aside class="four columns alt-spacing">
						<h5>Categories</h5>
							<ul class="side-nav">
						    	<li><a href="#">News</a></li>
						    	<li><a href="#">Code</a></li>
						    	<li><a href="#">Design</a></li>
						    	<li><a href="#">Fun</a></li>
						    	<li><a href="#">Weasels</a></li>
							</ul>

							<div class="callout">
								<h5>Featured</h5>
								<p>This is dummy text and is not meant to be read. Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium</p>
								<a href="#">Read More <i class="icon-chevron-right"></i></a>
							</div>
					</aside>
				</section><!-- /main content & sidebar -->
			</main><!-- /content -->
			<hr>
			<footer role="contentinfo" class="row">
		 		<p class="ten columns">&copy; Copyright Blog Template Wirefy.</p>
				<div class="six columns">
					<ul class="link-list">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
						<li><a href="#">Link 5</a></li>
			    	</ul>
				</div>
			</footer>
		</div><!-- /container -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<script src="../js/plugins.js"></script>
		<script src="../js/script.js"></script>
		<script src="../js/helper.js"></script>

		<script>
		    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		    s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>